In [33]:
# -*- coding: utf-8 -*-
import dataiku
import pandas as pd, numpy as np
from dataiku import pandasutils as pdu

In [34]:
# Read recipe inputs
three_cities_blooming_day_joined = dataiku.Dataset("three_cities_blooming_day_joined")
df = three_cities_blooming_day_joined.get_dataframe()

In [35]:
df = df.sort_values(['place', 'date_parsed'])

In [ ]:
df = df[df.place != "Hirosaki" & df.year != ]

In [36]:
df.head()

           date               date_parsed  year  daylight     place  precip_total  temp_ave  temp_high  temp_low flower_status blooming_day
39448  1991/1/1 1991-01-01 00:00:00+00:00  1991       0.2  Hirosaki           0.0       3.0        5.7       0.8       not yet          NaT
39449  1991/1/2 1991-01-02 00:00:00+00:00  1991       0.0  Hirosaki           5.0       2.3        4.9      -0.8       not yet          NaT
39450  1991/1/3 1991-01-03 00:00:00+00:00  1991       4.6  Hirosaki           1.0      -2.6       -1.2      -4.0       not yet          NaT
39451  1991/1/4 1991-01-04 00:00:00+00:00  1991       0.3  Hirosaki           6.0      -3.6       -2.5      -4.8       not yet          NaT
39452  1991/1/5 1991-01-05 00:00:00+00:00  1991       3.3  Hirosaki           4.0      -3.7       -1.1      -5.9       not yet          NaT

In [37]:
df.tail()

             date               date_parsed  year  daylight  place  precip_total  temp_ave  temp_high  temp_low flower_status              blooming_day
19719  2020/12/29 2020-12-29 00:00:00+00:00  2020       4.5  Tokyo           0.0       8.7       13.1       4.3       not yet 2020-04-20 00:00:00+00:00
19720  2020/12/30 2020-12-30 00:00:00+00:00  2020       1.6  Tokyo           1.5       6.9       12.3       2.7       not yet 2020-03-14 00:00:00+00:00
19721  2020/12/30 2020-12-30 00:00:00+00:00  2020       1.6  Tokyo           1.5       6.9       12.3       2.7       not yet 2020-04-20 00:00:00+00:00
19722  2020/12/31 2020-12-31 00:00:00+00:00  2020       8.9  Tokyo           0.0       3.4        7.6      -0.2       not yet 2020-03-14 00:00:00+00:00
19723  2020/12/31 2020-12-31 00:00:00+00:00  2020       8.9  Tokyo           0.0       3.4        7.6      -0.2       not yet 2020-04-20 00:00:00+00:00

In [ ]:
d = {}
for city in df.place.unique():  
    d[city] = {}
    for year in df.year.unique():
        blooming_day = df[(df.place==city)&(df.year==year)].blooming_day.unique()[0]
        d[city][year] = blooming_day

In [ ]:
d

In [40]:
df_bloom = df[df.flower_status=='bloom']
df_bloom

            date               date_parsed  year  daylight     place  precip_total  temp_ave  temp_high  temp_low flower_status              blooming_day
41751  1997/4/22 1997-04-22 00:00:00+00:00  1997       0.4  Hirosaki          12.0      10.9       14.5       7.2         bloom 1997-04-22 00:00:00+00:00
42108  1998/4/14 1998-04-14 00:00:00+00:00  1998       0.6  Hirosaki          13.0      13.2       16.9      10.1         bloom 1998-04-14 00:00:00+00:00
42481  1999/4/22 1999-04-22 00:00:00+00:00  1999      11.2  Hirosaki           0.0      10.7       20.2       0.9         bloom 1999-04-22 00:00:00+00:00
42851  2000/4/26 2000-04-26 00:00:00+00:00  2000       7.0  Hirosaki           0.0      10.1       16.3       4.1         bloom 2000-04-26 00:00:00+00:00
43209  2001/4/19 2001-04-19 00:00:00+00:00  2001      10.6  Hirosaki           0.0      15.9       24.1       8.7         bloom 2001-04-19 00:00:00+00:00
...          ...                       ...   ...       ...       ...           ...       ...        ...       ...           ...                       ...
18479  2019/4/19 2019-04-19 00:00:00+00:00  2019       9.2     Tokyo           0.0      18.3       23.6      14.3         bloom 2019-04-19 00:00:00+00:00
19138  2020/3/14 2020-03-14 00:00:00+00:00  2020       0.0     Tokyo          25.0       5.5       12.3       1.3         bloom 2020-03-14 00:00:00+00:00
19139  2020/3/14 2020-03-14 00:00:00+00:00  2020       0.0     Tokyo          25.0       5.5       12.3       1.3         bloom 2020-04-20 00:00:00+00:00
19212  2020/4/20 2020-04-20 00:00:00+00:00  2020       0.0     Tokyo          15.0       9.7       10.7       8.3         bloom 2020-03-14 00:00:00+00:00
19213  2020/4/20 2020-04-20 00:00:00+00:00  2020       0.0     Tokyo          15.0       9.7       10.7       8.3         bloom 2020-04-20 00:00:00+00:00

[228 rows x 11 columns]

In [43]:
# -------------------------------------------------------------------------------- NOTEBOOK-CELL: CODE
df_new = pd.DataFrame()
for city in df.place.unique():
    print(city)
    df_city = df[df.place==city]
    for year in np.sort(df_city.year.unique()):
        print(year)
        df_sub = df_city[df_city.year==year]
        df_sub['blooming_day_shift'] = df_sub["blooming_day"]

        if year < 2021:
            blooming_ind = df_bloom[(df_bloom.place==city)&(df_bloom.year==year)].index[0]
            df_sub.loc[df_sub.index > blooming_ind, "blooming_day_shift"] = d[city][year+1]
        else:
            None
        df_new = pd.concat([df_new, df_sub])

Hirosaki
1991

/home/dataiku/dss/code-envs/python/makoto-py36/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

IndexError: index 0 is out of bounds for axis 0 with size 0

In [46]:
df_sub

             date               date_parsed  year  daylight     place  precip_total  temp_ave  temp_high  temp_low flower_status blooming_day blooming_day_shift
39448    1991/1/1 1991-01-01 00:00:00+00:00  1991       0.2  Hirosaki           0.0       3.0        5.7       0.8       not yet          NaT                NaT
39449    1991/1/2 1991-01-02 00:00:00+00:00  1991       0.0  Hirosaki           5.0       2.3        4.9      -0.8       not yet          NaT                NaT
39450    1991/1/3 1991-01-03 00:00:00+00:00  1991       4.6  Hirosaki           1.0      -2.6       -1.2      -4.0       not yet          NaT                NaT
39451    1991/1/4 1991-01-04 00:00:00+00:00  1991       0.3  Hirosaki           6.0      -3.6       -2.5      -4.8       not yet          NaT                NaT
39452    1991/1/5 1991-01-05 00:00:00+00:00  1991       3.3  Hirosaki           4.0      -3.7       -1.1      -5.9       not yet          NaT                NaT
...           ...                       ...   ...       ...       ...           ...       ...        ...       ...           ...          ...                ...
39808  1991/12/27 1991-12-27 00:00:00+00:00  1991       3.7  Hirosaki           0.0      -1.2        1.5      -3.3       not yet          NaT                NaT
39809  1991/12/28 1991-12-28 00:00:00+00:00  1991       0.0  Hirosaki          23.0       1.1        4.7      -2.2       not yet          NaT                NaT
39810  1991/12/29 1991-12-29 00:00:00+00:00  1991       0.0  Hirosaki          25.0       0.2        3.0      -1.3       not yet          NaT                NaT
39811  1991/12/30 1991-12-30 00:00:00+00:00  1991       0.1  Hirosaki          13.0      -2.9       -1.6      -3.7       not yet          NaT                NaT
39812  1991/12/31 1991-12-31 00:00:00+00:00  1991       1.0  Hirosaki           0.0      -0.2        2.3      -2.8       not yet          NaT                NaT

[365 rows x 12 columns]

In [0]:
# Compute recipe outputs from inputs
# TODO: Replace this part by your actual code that computes the output, as a Pandas dataframe
# NB: DSS also supports other kinds of APIs for reading and writing data. Please see doc.

blooming_day_shift_df = three_cities_blooming_day_joined_df # For this sample code, simply copy input to output


# Write recipe outputs
blooming_day_shift = dataiku.Dataset("blooming_day_shift")
blooming_day_shift.write_with_schema(blooming_day_shift_df)